/*@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');*/

html, body {
  height: 100%;
}

body {
  background-color: #000;
}

/* Typography
========================================================================== */

h1 {
  color: #fff;
  font-family: 'Nova Mono', monospace;
}

/* Pages
========================================================================== */

main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

img {
	max-height: 100%;
	max-width: 100%;
}